*
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html
{
    font-size: 62.5%;   /* 1rem == 10 px*/
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.all
{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.container
{
    
    background-color: #d7d7d7;
    width: 30rem;
    height: 65vh;
    display: grid;
    grid-template-rows: repeat(8,50px);
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}
.box p
{
   
    text-align: center;
    font-family: sans-serif;
    padding:1rem 0;
  
}
.box input
{
   width: 100%;
   border: none;
   outline: none;
   height: 2rem;
   border-radius: 5px;
   text-align: center;
  
}

.box--1
{
    grid-column: 2/3;
 grid-row: 1/2;
}
.box--2
{
    grid-column: 2/3;
    grid-row: 2/3;
}
.box--3
{
    grid-column: 2/3;
    grid-row: 3/4;
}
.box--4
{
    grid-column: 2/3;
    grid-row: 4/5;
}
.box--5
{
    grid-column: 2/3;
    grid-row: 5/6;
}
.box--6
{
    grid-column: 2/3;
    grid-row: 6/7;
    
}
.btn
{
    height: 35px;
    width: 70px;
  
 justify-self: center;
 align-self: center;
  background-color: rgb(44, 171, 226);
  border-radius: 5px;
  border: none;
  outline: none;
  grid-column: 2/3;
  grid-row: 7/8;
  transition: all 0.2s;
  font-family: sans-serif;
}
.btn:active
{
    transform: scale(0.96);
}
.btn:hover
{
  background-color: rgb(124, 147, 225);
}
.p7
{
    grid-column: 2/3;
    grid-row: 8/9;
    justify-self: center;
    align-self: center;
    font-size: 12px;
    font-family: sans-serif;
   
}
.opacity
{
    opacity: 0;
}
